elpa
quelpa

*~

projectile-bookmarks.eld
projectile.cache

ac-comphist.dat
network-security.data

auto-save-list
.mc*
bookmarks
eshell
autosaves/*
*.elc

ido.last
recentf
smex-items

.places

.DS_Store

loaddefs.el
custom.el

tramp

url/
